html {
  background-color:midnightblue;
  text-align: center;
  color: lavender;
}

#powerContainer {
  border: 1px solid lavender;
  margin: auto;
  padding: 15px;
  width: 45px;
}

p {
  font-style: italic;
  margin: auto;
}

#powerBtn {
  background-color: olive;
  font-weight: bold;
  padding: 5px;
  border: 1px solid lavender;
  margin-top: 10px;
  color: lavender;
}

#drum-machine {
  margin: 45px;
  padding: 15px;
  background-color: cadetblue;
  color:lavender;
  box-shadow: 5px 5px 15px lavender;
}

#drum-pads {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.drum-pad {
  height:45px;
  width:45px;
  padding: 10px;
  border: 1px solid midnightblue;
  font-family: Impact;
  color:midnightblue;
  background-color: lavender;
  border-radius: 15px;
}

#nowPlaying {
  margin-top: 15px;
}

#display {
  font-weight: bold;
  margin: 10px 5px;
  padding: 5px;
  border: 2px double lavender;
  height: 25px;  
}
