html {
  background-color:midnightblue;
  text-align: center;
  color: lavender;
}

p {
  font-style: italic;
}

#drum-machine {
  margin: 45px;
  padding: 15px;
  background-color: cadetblue;
  color:lavender;
  box-shadow: 5px 5px 15px lavender;
}

#drum-pads {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: center;
  justify-items: center;
}

.drum-pad {
  height:45px;
  width:45px;
  padding: 10px;
  border: 1px solid midnightblue;
  font-family: Impact;
  color:midnightblue;
  background-color: lavender;
  border-radius: 15px;
}

#display {
  font-weight: bold;
  margin: 10px 5px;
  padding: 5px;
  border: 2px double lavender;  
}
